/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-nojksqyzrb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-nojksqyzrb] {
    flex: 1;
}

.sidebar[b-nojksqyzrb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nojksqyzrb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-nojksqyzrb]  a, .top-row[b-nojksqyzrb]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-nojksqyzrb]  a:hover, .top-row[b-nojksqyzrb]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-nojksqyzrb]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-nojksqyzrb] {
        justify-content: space-between;
    }

        .top-row[b-nojksqyzrb]  a, .top-row[b-nojksqyzrb]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-nojksqyzrb] {
        flex-direction: row;
    }

    .sidebar[b-nojksqyzrb] {
        width: 50px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nojksqyzrb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-nojksqyzrb]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-nojksqyzrb], article[b-nojksqyzrb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-nojksqyzrb] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-nojksqyzrb] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-1yr0kf083o] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked[b-1yr0kf083o] {
        background-color: rgba(255, 255, 255, 0.5);
    }

.top-row[b-1yr0kf083o] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-1yr0kf083o] {
    font-size: 1.1rem;
}

.bi[b-1yr0kf083o] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-1yr0kf083o] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-1yr0kf083o] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-1yr0kf083o] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-1yr0kf083o] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-1yr0kf083o] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-1yr0kf083o] {
        padding-bottom: 1rem;
    }

    .nav-item[b-1yr0kf083o]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item[b-1yr0kf083o]  a.active {
        background-color: rgba(255,255,255,0.37);
        color: white;
    }

    .nav-item[b-1yr0kf083o]  .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.nav-scrollable[b-1yr0kf083o] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-1yr0kf083o] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-1yr0kf083o] {
        display: none;
    }

    .nav-scrollable[b-1yr0kf083o] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Documentation.razor.rz.scp.css */
div.top-bar[b-dbyf5lzyb4] {
    width: 100%;
    height: 75px;
    padding: 5px;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
}

.button-back[b-dbyf5lzyb4] {
    fill: white;
    height: 50px;
    margin: 5px;
}

.page-title[b-dbyf5lzyb4] {
    color: white;
    flex: 1;
    text-align: center;
}

div.symbols-dictionary[b-dbyf5lzyb4] {
    display: flex;
}

table.symbols-dictionary[b-dbyf5lzyb4] {
    flex: 1;
    margin-inline: 5px;
    margin-top: 5px;
    border-radius: 5px 5px 0px 0px;
}

.symbols-dictionary th[b-dbyf5lzyb4], .symbols-dictionary td[b-dbyf5lzyb4] {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}

.symbols-dictionary th[b-dbyf5lzyb4] {
    background-color: #f2f2f2;
    font-size: 25px;
}

.symbols-dictionary tr:nth-child(odd)[b-dbyf5lzyb4] {
    background-color: #f2f2f2;
}

.symbols-dictionary tr:hover[b-dbyf5lzyb4] {
    background-color: #ddd;
}
/* /Pages/FolSolver.razor.rz.scp.css */
div.top-bar[b-j89r6awter] {
    width: 100%;
    height: 75px;
    padding: 5px;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
}

.page-title[b-j89r6awter] {
    color: white;
    flex: 1;
    text-align: center;
}

div.middle-panel[b-j89r6awter] {
    flex: 1;
    text-align: center;
}

.middle-panel-button[b-j89r6awter] {
    padding: 5px 10px;
    font-size: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000000;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

div.top-bar-buttons[b-j89r6awter] {
    flex: 1;
    display: flex;
    justify-content: end;
}

button.switch-language[b-j89r6awter] {
    padding: 5px 10px;
    font-size: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000000;
    text-align: center;
    cursor: pointer;
    align-self: flex-end;
}

div.user-input[b-j89r6awter] {
    display: flex;
}

textarea.user-input[b-j89r6awter] {
    width: 80%;
    font-size: 20px;
    height: 200px;
    resize: vertical;
}

button.read-formula[b-j89r6awter] {
    padding: 5px 10px;
    margin: 10px;
    width: 15%;
    font-size: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

div.input-bottom-bar[b-j89r6awter] {
    width: 80%;
    display: flex;
}

div.special-symbols[b-j89r6awter] {
    flex: 2;
    align-content: flex-start;
}

button.special-symbols[b-j89r6awter] {
    padding: 2% 4%;
    font-size: 25px;
    border: 2px solid #ccc;
    border-radius: 0 0 5px 5px;
    background-color: #f0f0f0;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

select.example-formula[b-j89r6awter] {
    padding: 2% 4%;
    font-size: 25px;
    border: 2px solid #ccc;
    border-radius: 0 0 5px 5px;
    background-color: #f0f0f0;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

option.example-formula[b-j89r6awter] {
    text-align: left;
}

.accordion-checkbox[b-j89r6awter] {
    display: none;
}

.accordion-title[b-j89r6awter] {
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accordion-content[b-j89r6awter] {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.accordion-checkbox:checked + .accordion-title + .accordion-content[b-j89r6awter] {
    display: block;
}

div.resolution[b-j89r6awter] {
    margin-top: 10px;
    display: flex;
}

div.clauses[b-j89r6awter] {
   width: 45%;
   flex: 1;
}

button.clauses[b-j89r6awter] {
    padding: 5px;
    margin: 5px;
    width: 45%;
    font-size: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

button.clauses-selected[b-j89r6awter] {
    color: gray;
}

div.history[b-j89r6awter] {
    width: 45%;
    flex: 1;
}

table.history[b-j89r6awter]{
    margin-inline: 5px;
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}

button.copy-history-to-clipboard[b-j89r6awter] {
    padding: 5px 10px;
    margin-inline: 5px;
    width: 100%;
    font-size: 25px;
    border: 2px solid #ccc;
    border-radius: 0px 0px 5px 5px;
    background-color: #f0f0f0;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

.history th[b-j89r6awter], .history td[b-j89r6awter] {
    padding: 8px;
    border: 1px solid #ddd;
}

.history th[b-j89r6awter] {
    background-color: #f2f2f2;
}

.history tr:nth-child(odd)[b-j89r6awter] {
    background-color: #f2f2f2;
}

.history tr:hover[b-j89r6awter] {
    background-color: #ddd;
}

button.selectedClauses[b-j89r6awter] {
    padding: 5px;
    margin: 5px;
    width: 30%;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

button.selectedClauses-selected[b-j89r6awter] {
    border-color: blue;  
}
