div.top-bar {
    width: 100%;
    margin-bottom: 2%;
    height: 75px;
    padding: 5px;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
}

.page-title {
    color: white;
    flex: 1;
    text-align: center;
}

div.input-explanation {
    border-radius: 5px;
    width: 30%;
}

div.valid-input {
    margin-bottom: 5%;
    font-size: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
}

div.written-explanation {
    width: 65%;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1%;
    font-size: 20px;
}

div.resolution-explanation {
    width: 65%;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1%; 
    font-size: 20px;
}

div.symbols-dictionary {
    display: flex;
    margin-bottom: 1%;
}

table.symbols-dictionary {
    flex: 1;
    margin-inline: 5px;
    margin-top: 5px;
    border-radius: 5px 5px 0px 0px;
}

.symbols-dictionary th, .symbols-dictionary td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}

.symbols-dictionary th {
    background-color: #f2f2f2;
    font-size: 25px;
}

.symbols-dictionary tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.symbols-dictionary tr:hover {
    background-color: #ddd;
}