@page "/documentation"

<PageTitle>FolSolver - Documentation</PageTitle>
<div class="top-bar">
    <h2 class="page-title">Documentation</h2>
</div>

<div class="symbols-dictionary">
    @foreach (var entry in InputDictionary.specialSymbols)
    {
        <table class="symbols-dictionary">
            <tr><th>@entry.Key</th></tr>
            @foreach (var value in entry.Value)
            {
                <tr><td>@value</td></tr>
            }
        </table>
    }
</div>



@code {
    

}
